.nav {
	grid-area: nav;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	z-index: 1000;
	justify-self: flex-end;
	width: 100%;
	padding-right: var(--content-padding-sides);
}
