:root {
	--layout-spacing: min(4vh, 1.5rem);
	--side-padding: clamp(1rem, 5vw, 3rem);
	--max-width: min(90vw, 51rem);
	--base-font: 20px;

	--black-val: 0, 0, 0;
	--black: rgb(var(--black-val));

	--layout-border-val: 204, 204, 204;
	--layout-border: rgb(var(--layout-border-val));

	--white-val: 255, 255, 255;
	--white: rgb(var(--white-val));

	--theme-color-val: 252, 68, 69;
	--theme-color: rgb(var(--theme-color-val));
	--theme-subtle: rgba(var(--theme-color-val), 0.05);

	--theme-secondary-val: 63, 238, 230;
	--theme-secondary: rgb(var(--theme-secondary-val));

	--theme-alt-val: 151, 202, 239;
	--theme-alt: rgb(var(--theme-alt-val));

	--text-color-val: var(--black-val);
	--text-color: rgb(var(--text-color-val));

	--font-family: proxima-nova, sans-serif;
	--font-weight-regular: 400;
	--font-weight-bold: 700;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html {
	font-size: var(--base-font);
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1.5;
	color: var(--text-color);
	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-style: normal;
}

header,
main,
footer {
	padding: 0 var(--side-padding) 1rem;
}

body > * {
	width: min(100%, var(--max-width));
	margin-left: auto;
	margin-right: auto;
}

main {
	margin-top: var(--layout-spacing);
}

a {
	text-underline-offset: 0.15em;
}

.sr {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
